<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mda.component_main">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity android:name=".ui.activity.TestActivity" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.transparent"
            >


        </activity>
        <activity android:name=".ui.activity.Test1Activity" />

        <activity android:name=".ui.activity.VenueSelectionActivity">


        </activity>

        <activity android:name=".ui.activity.CMMainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".ui.activity.VenueDetailActivity"/>

    </application>

</manifest>